# Map(): 
* Applies a function to an iterable without using Loops
 * Syntax: map ( function, iterable)
 * where iterables are list,tuple,set,dict,string,arrray,range. etc

## Square a list of numbers

In [1]:
l1=[2,3,4,5,12]

def square(x):
    return x**2
print(square(5))

# But it will not work for iterables, the below statement gives error
# print(square(l1)) 
# TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

25

In [2]:
res=map(square,l1)
print(res)
print(list(res))

<map object at 0x00000277B8A9A5C0>
[4, 9, 16, 25, 144]

### Lambda inside Map()

In [3]:
res=map(lambda i: i**2,l1)
print(res)
print(list(res))

<map object at 0x00000277B8A9ADA0>
[4, 9, 16, 25, 144]

In [4]:
tup1=(1,2,3,4,5)
res=map(lambda i : i**2 if i%2==0 else i**3, tup1 )
print(tuple(res))

(1, 4, 27, 16, 125)

# filter():
* Python filter() function is used to get filtered elements. This function takes two arguments, first is a function and the second is iterable. The filter function returns a sequence from those elements of iterable for which function returns True.
* The first argument can be None if the function is not available and returns only elements that are True.
   * Syntax: filter(function, iterable)
   *  where iterables are list,tuple,set,dict,string,arrray,range. etc

In [5]:
#print only even numbers from a list

In [6]:
l1=[1,3,2,3,4,5,6,7,8]

def fun1(i):
    if i%2==0:
        return True
    
res=filter(fun1,l1)
print(list(res))

[2, 4, 6, 8]

### Lambda inside filter

In [7]:
l1=[1,3,2,3,4,5,6,7,8]

    
res=filter(lambda i: i%2==0,l1)
print(list(res))

[2, 4, 6, 8]

In [8]:
alphabets='abcdefghijklmnopqrstuvwxyz'

vowels = filter(lambda i: i in ('aeiou'),alphabets)
consonants = filter(lambda i: i not in ('aeiou'),alphabets)

print('vowels list',list(vowels))
print('consonants list',list(consonants))

vowels list ['a', 'e', 'i', 'o', 'u']
consonants list ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']

In [ ]:
# Reduce(): 
* The reduce() function is defined in the functools module. Like the map and filter functions, the reduce() function receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns a single value.
    * Syntax: reduce(function, iterable)

In [9]:
from functools import reduce
l1=[1,2,3,4,5]
res=reduce(lambda x,y:x+y, l1)
print(res)

15

In [10]:
a=range(1,5)

print(list(a))
print(reduce(lambda x,y: x*2+y*2,a))

'''
calculation:
[1,2,3,4]
first two elements -> 1*2 + 2*2=6
1:2,Third elements -> 6*2 + 3*2=18
1:3,fourth elements -> 18*2 + 4*2=6
'''

[1, 2, 3, 4]
44

'\ncalculation:\n[1,2,3,4]\nfirst two elements -> 1*2 + 2*2=6\n1:2,Third elements -> 6*2 + 3*2=18\n1:3,fourth elements -> 18*2 + 4*2=6\n'

# Apply():
* Apply is also same as Map() but it is for dataframe / Series 
* syntax: df.apply(Function,arguments)

In [11]:
import pandas as pd

df=pd.DataFrame({"a":[1,2,3,4,5],
                "b":[12,13,23,34,45]
                })
df

   a   b
0  1  12
1  2  13
2  3  23
3  4  34
4  5  45

In [12]:
df.apply(lambda x: x**2,axis='columns')

    a     b
0   1   144
1   4   169
2   9   529
3  16  1156
4  25  2025

In [13]:
df.apply(lambda x: x**2,axis='rows')

    a     b
0   1   144
1   4   169
2   9   529
3  16  1156
4  25  2025

In [14]:
df.loc[:,'row total']=df.apply(sum,axis='columns')
df

   a   b  row total
0  1  12         13
1  2  13         15
2  3  23         26
3  4  34         38
4  5  45         50

In [15]:
df.loc['column total',:]=df.apply(sum,axis='rows')
df

                 a      b  row total
0              1.0   12.0       13.0
1              2.0   13.0       15.0
2              3.0   23.0       26.0
3              4.0   34.0       38.0
4              5.0   45.0       50.0
column total  15.0  127.0      142.0