In [1]:
n=5 # no of lines

In [2]:

for row in range(n):
    for col in range(0,row+1,1):
        print(col+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [6]:
for row in range(0,n,1):
    for col in range(0,n-row,1):
        print(col+1,end=' ')
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [7]:
#pattern 1
for row in range(n):
    for col in range(0,row+1,1):
        print(col+1,end=' ')
    print()

print('--'*20)
#pattern 2
for row in range(0,n,1):
    for col in range(0,n-row,1):
        print(col+1,end=' ')
    print()

print('--'*20)

#pattern 3
for row in range(0,n,1):
    for space in range(0,n-row-1,1):
        print(' ',end=' ')
    for col in range(0,row+1,1):
        print(col+1,end=' ')
    print()

print('--'*20)

#pattern 4

for row in range(0,n,1):
    for space in range(0,row,1):
        print(' ',end=' ')
    for col in range(0,n-row,1):
        print(col+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
----------------------------------------
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1
----------------------------------------
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5
----------------------------------------
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [56]:
for row in range(0,n,1):
    for space in range(0,n-row-1,1):
        print(' ',end=' ')
    for col in range(0,2*row-1,1):
        print(col+1,end=' ')
    print()    
    
print('--'*20)

#pattern

      1
    1 2 3
  1 2 3 4 5
1 2 3 4 5 6 7
----------------------------------------

In [47]:
for row in range(0,n,1):
    for space in range(0,n-row,1):
        print(' ',end=' ')
    for col in range(0,row+1,1):
        print(col+1,end=' ')
    print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5